---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="L3XpdTXQ5nvfgP6KPOHkvZaoN", oauth_nonce="ed04b41d8fa4bbc3dddef38b490ee12a",
        oauth_signature="gf93ydnzIYBEPBGc4Balq37DsRo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1491249794", oauth_token="123",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 03 Apr 2017 20:03:12 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 199456fa5800a8119036ec879f472a5e
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1491250579'
      X-Response-Time:
      - '208'
      X-Transaction:
      - 00b518e40024a4f7
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Mon Apr 03 19:59:40 +0000 2017","id":848988390112591874,"id_str":"848988390112591874","text":"RT
        @JavaScriptDaily: A very popular article on refactoring JavaScript from last
        year: https:\/\/t.co\/5zip1Vjw34 \u2026 (a look at 4 ways to refact\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"JavaScriptDaily","name":"JavaScript
        Daily","id":459275531,"id_str":"459275531","indices":[3,19]}],"urls":[{"url":"https:\/\/t.co\/5zip1Vjw34","expanded_url":"http:\/\/martinfowler.com\/articles\/refactoring-video-store-js\/","display_url":"martinfowler.com\/articles\/refac\u2026","indices":[86,109]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":16665197,"id_str":"16665197","name":"Martin
        Fowler","screen_name":"martinfowler","location":"Boston","description":"Programmer,
        Loud Mouth, ThoughtWorker","url":"http:\/\/t.co\/zJOC4bh4Tv","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/zJOC4bh4Tv","expanded_url":"http:\/\/www.martinfowler.com\/","display_url":"martinfowler.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":203959,"friends_count":398,"listed_count":6705,"created_at":"Thu
        Oct 09 12:20:58 +0000 2008","favourites_count":218,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":6307,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C6E2EE","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/59018302\/PICT0019__1_.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/59018302\/PICT0019__1_.jpg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/79787739\/mf-tg-sq_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/79787739\/mf-tg-sq_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/16665197\/1397571102","profile_link_color":"1F98C7","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DAECF4","profile_text_color":"663B12","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Mon
        Apr 03 17:43:00 +0000 2017","id":848953998468055042,"id_str":"848953998468055042","text":"A
        very popular article on refactoring JavaScript from last year: https:\/\/t.co\/5zip1Vjw34
        \u2026 (a look at 4 ways to refactor the same code)","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/5zip1Vjw34","expanded_url":"http:\/\/martinfowler.com\/articles\/refactoring-video-store-js\/","display_url":"mart[...]
[...]
