---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 11 Sep 2016 09:51:26 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 71af9d25f1f114ee732c08cb5bc8152b
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1473588351'
      X-Response-Time:
      - '169'
      X-Transaction:
      - 003a3b81005e867e
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Sun Sep 11 09:02:38 +0000 2016","id":774895919011627008,"id_str":"774895919011627008","text":"RT
        @ferrannp: \u201cUnit testing React Native with the *new* Jest (I) \u2014
        Snapshots come into play!\u201d https:\/\/t.co\/Da8stBQ85M #reactnative #reactjs\u2026","truncated":false,"entities":{"hashtags":[{"text":"reactnative","indices":[118,130]},{"text":"reactjs","indices":[131,139]},{"text":"jest","indices":[139,140]}],"symbols":[],"user_mentions":[{"screen_name":"ferrannp","name":"Ferran
        Negre","id":302277849,"id_str":"302277849","indices":[3,12]}],"urls":[{"url":"https:\/\/t.co\/Da8stBQ85M","expanded_url":"https:\/\/blog.callstack.io\/unit-testing-react-native-with-the-new-jest-i-snapshots-come-into-play-68ba19b1b9fe#.vyn3w7p2n","display_url":"blog.callstack.io\/unit-testing-r\u2026","indices":[94,117]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1566463268,"id_str":"1566463268","name":"React","screen_name":"reactjs","location":"","description":"React
        is a declarative, efficient, and flexible JavaScript library for building
        user interfaces.","url":"http:\/\/t.co\/EF5xem8t5W","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/EF5xem8t5W","expanded_url":"http:\/\/facebook.github.io\/react\/","display_url":"facebook.github.io\/react\/","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":96558,"friends_count":216,"listed_count":2090,"created_at":"Wed
        Jul 03 18:58:09 +0000 2013","favourites_count":2347,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":1502,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/446356636710363136\/OYIaJ1KK_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/446356636710363136\/OYIaJ1KK_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1566463268\/1470764371","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Fri
        Sep 09 13:35:47 +0000 2016","id":774239881967104000,"id_str":"774239881967104000","text":"\u201cUnit
        testing React Native with the *new* Jest (I) \u2014 Snapshots come into play!\u201d
        https:\/\/t.co\/Da8stBQ85M #reactnative #reactjs #jest","truncated":false,"entities":{"hashtags":[{"text":"reactnative","indices":[104,116]},{"text":"reactjs","indices":[117,125]},{"text":"jest","indices":[126,131]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/Da8stBQ85M","expanded_url":"https:\/\/blog.callstack.io\/unit-testing-react-native-with-the-new-jest-i-snapshots-come-into-play-68ba19b1b9fe#.vyn3w7p2n","display_url":"blog.callstack.io\/unit-testing-r\u2026","indices":[80,10[...]
