---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="L3XpdTXQ5nvfgP6KPOHkvZaoN", oauth_nonce="90194fd91bdf48ee01a6f3fcd0364f3e",
        oauth_signature="O2RuXJqRARYMKvLnUA%2F%2F3qGJ6uQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1495703765", oauth_token="16239678-Pifr7TS2gzSKgTrzbKOGq7V0KwnQI1Gsxoery6exO",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 25 May 2017 09:16:06 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - abd67cdbb97db24f36a14b5faed5fd2c
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1495704262'
      X-Response-Time:
      - '198'
      X-Transaction:
      - 008aae90004b7779
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu May 25 07:45:20 +0000 2017","id":867647759498825729,"id_str":"867647759498825729","text":"RT
        @UbisoftUK: Welcome to Hope County! Tune in May 26th for the worldwide reveal.
        https:\/\/t.co\/Wjfb26uorG https:\/\/t.co\/SIOq2jD23b","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"UbisoftUK","name":"Ubisoft
        UK","id":196142659,"id_str":"196142659","indices":[3,13]}],"urls":[{"url":"https:\/\/t.co\/Wjfb26uorG","expanded_url":"http:\/\/farcrygame.com","display_url":"farcrygame.com","indices":[82,105]}],"media":[{"id":867363059798614021,"id_str":"867363059798614021","indices":[106,129],"media_url":"http:\/\/pbs.twimg.com\/media\/DAl-G36XoAUEjNd.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DAl-G36XoAUEjNd.jpg","url":"https:\/\/t.co\/SIOq2jD23b","display_url":"pic.twitter.com\/SIOq2jD23b","expanded_url":"https:\/\/twitter.com\/UbisoftUK\/status\/867409877664096256\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":357,"resize":"fit"},"large":{"w":1200,"h":630,"resize":"fit"},"medium":{"w":1200,"h":630,"resize":"fit"}},"source_status_id":867409877664096256,"source_status_id_str":"867409877664096256","source_user_id":196142659,"source_user_id_str":"196142659"}]},"extended_entities":{"media":[{"id":867363059798614021,"id_str":"867363059798614021","indices":[106,129],"media_url":"http:\/\/pbs.twimg.com\/media\/DAl-G36XoAUEjNd.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DAl-G36XoAUEjNd.jpg","url":"https:\/\/t.co\/SIOq2jD23b","display_url":"pic.twitter.com\/SIOq2jD23b","expanded_url":"https:\/\/twitter.com\/UbisoftUK\/status\/867409877664096256\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":357,"resize":"fit"},"large":{"w":1200,"h":630,"resize":"fit"},"medium":{"w":1200,"h":630,"resize":"fit"}},"source_status_id":867409877664096256,"source_status_id_str":"867409877664096256","source_user_id":196142659,"source_user_id_str":"196142659"}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":36969785,"id_str":"36969785","name":"PlayStation
        Europe","screen_name":"PlayStationEU","location":"London, UK","description":"All
        the latest PlayStation news, exclusive content and exciting extras, direct
        from PlayStation Europe. Need support? @AskPS_UK can help from 9am-11pm BST.","url":"http:\/\/t.co\/7tZNu78sTg","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/7tZNu78sTg","expanded_url":"http:\/\/www.playstation.com","display_url":"playstation.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":852354,"friends_count":536,"listed_count":5301,"created_at":"Fri
        May 01 15:44:17 +0000 2009","favourites_count":925,"utc_offset":3600,"time_zone":"London","geo_enabled":false,"verified":true,"statuses_count":18747,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"1357BD","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000106084700\/aa396db6c1731e4145cc7fdbb83b8f49.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000106084700\/aa396db6c1731e4145cc7fdbb83b8f49.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/831867140814884868\/b8aQqw_X_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/831867140814884868\/b8aQqw_X_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/36969785\/1495008295","profile_link_color":"0F487A","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        May 24 16:00:05 +0000 2017","id":867409877664096256,"id_str":"867409877664096256","text":"Welcome
        to Hope County! Tune in May 26th for the worldwide reveal. https:\/\/t.co\/Wjfb26uorG
        https:\/\/t.co\/SIOq2jD23b","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/Wjfb26uorG","expanded_url":"http:\/\/farcrygame.com","display_url":"farcrygame.com","indices":[67,90]}],"media":[{"id":867363059798614021[...]
[...]
