---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json?tweet_mode=extended
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="L3XpdTXQ5nvfgP6KPOHkvZaoN", oauth_nonce="b791a40b282dfde3f3f346ef711d0849",
        oauth_signature="cs7C%2FofciBrwIVkh0kdTTxbCsb8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1516474226", oauth_token="123",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 20 Jan 2018 18:50:19 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 5d53dbacca4fa7321f96fe2769bb06b4
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '9'
      X-Rate-Limit-Reset:
      - '1516474999'
      X-Response-Time:
      - '149'
      X-Transaction:
      - 00b6bc72002bb305
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Sat Jan 20 18:10:52 +0000 2018","id":954778268196106240,"id_str":"954778268196106240","full_text":"https:\/\/t.co\/BEmlT9vhqf","truncated":false,"display_text_range":[0,0],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":954778244577808384,"id_str":"954778244577808384","indices":[0,23],"media_url":"http:\/\/pbs.twimg.com\/media\/DUANwTtU0AAy1cE.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DUANwTtU0AAy1cE.jpg","url":"https:\/\/t.co\/BEmlT9vhqf","display_url":"pic.twitter.com\/BEmlT9vhqf","expanded_url":"https:\/\/twitter.com\/pragdave\/status\/954778268196106240\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":900,"resize":"fit"},"large":{"w":2048,"h":1536,"resize":"fit"},"small":{"w":680,"h":510,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":954778244577808384,"id_str":"954778244577808384","indices":[0,23],"media_url":"http:\/\/pbs.twimg.com\/media\/DUANwTtU0AAy1cE.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DUANwTtU0AAy1cE.jpg","url":"https:\/\/t.co\/BEmlT9vhqf","display_url":"pic.twitter.com\/BEmlT9vhqf","expanded_url":"https:\/\/twitter.com\/pragdave\/status\/954778268196106240\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":900,"resize":"fit"},"large":{"w":2048,"h":1536,"resize":"fit"},"small":{"w":680,"h":510,"resize":"fit"}}}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":6186692,"id_str":"6186692","name":"Dave
        Thomas","screen_name":"pragdave","location":"Dallas, Texas","description":"Programmer
        turned publisher (but mostly programmer)","url":"http:\/\/t.co\/WkrMnKuyDi","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/WkrMnKuyDi","expanded_url":"http:\/\/pragdave.me","display_url":"pragdave.me","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":28079,"friends_count":55,"listed_count":1649,"created_at":"Mon
        May 21 00:21:44 +0000 2007","favourites_count":71,"utc_offset":-21600,"time_zone":"Central
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":5241,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"051D7F","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000181897885\/vxx3OrFH.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000181897885\/vxx3OrFH.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1413499142\/dave_gnome_head_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1413499142\/dave_gnome_head_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/6186692\/1391589617","profile_link_color":"06066F","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"A290EA","profile_text_color":"1160A2","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":5,"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"und"},{"created_at":"Sat
        Jan 20 09:30:08 +0000 2018","id":954647218987896832,"id_str":"954647218987896832","full_text":"The
        infrastructure of future #smartcities must stay in the hands of the government
        to reduce the risk of privatisation and misuse: @Forbes https:\/\/t.co\/V7GyyGLd57
        https:\/\/t.co\/gtCXgT82m6","truncated":false,"display_text_range":[0,162],"entities":{"hashtags":[{"text":"smartcities","indices":[29,41]}],"symbols":[],"user_mentions":[{"screen_name":"Forbes","name":"Forbes","id":91478624,"id_str":"91478624","indices":[131,138]}],"urls":[{"url":"https:\/\/t.co\/V7GyyGLd57","expanded_url":"https:\/\/buff.ly\/2mPhJM7","display_url":"buff.ly\/2mPhJM7","indices":[139,162]}],"media":[{"id":954647214395133952,"id_str":"954647214395133952","indices":[163,186],"media_url":"http:\/\/pbs.twimg.com\/media\/DT-WlWPWkAAkgpn.jpg","media_url_https":"https:\/\/pbs.twimg.com\/medi[...]
[...]
